body {color: black;}


.list-enter, .list-enter-active {
    opacity: 0;
    left: 50%;
    transition: all 300ms ease;
}
.list-enter-done {
    opacity: 1;
    left: 60%;
    transition: all 300ms ease;
}

.list-exit {
    opacity: 1;
    left: 50%; 
    transition: all 300ms ease;
}
.list-exit-active {
    opacity: 0;
}

.opacityAnimation-appear {
    opacity: 0;
}
.opacityAnimation-appear.opacityAnimation-appear-active {
    opacity: 1;
    transition: opacity 500ms linear;
}

.opacityAnimation-enter {
    opacity: 0;
}
.opacityAnimation-enter.opacityAnimation-enter-active {
    opacity: 1;
    transition: opacity 500ms linear;
}

.opacityAnimation-exit {
    opacity: 1;
}
.opacityAnimation-exit.opacityAnimation-exit-active {
    opacity: 0;
    transition: opacity 500ms linear;
}
